* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

/*********************************** start style header */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  background-color: #000000;
  color:  #ffffff;
}

.nav {
  padding: 15px 30px 15px 0;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__link {
  margin-right: 60px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  list-style-type: none;
  transition: opacity 0.3s linear;
}

.nav__link:hover {
  opacity: 0.8;
}

/*********************************** end style header */

/************************************ start style main */
.main {
  font-family: Mukta, suns-serif;
  font-size: 18px;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}


.main__header-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  border-bottom: 1px solid tomato;
}

.main__header-image {
  display: block;
  width: 150px;
  height: 150px;
}

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.section-width {
  width: 100%;
  max-width: 560px;
  padding: 10px 10px 35px 10px;
}

.title {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  border-bottom: 1px solid tomato;
}

.pre {
  margin: 0;
  padding: 0;	
}

.pre>code {
  white-space: pre-line;
}
/************************************ end style main */

/******************************** footer style start */
.footer {
  padding: 20px;
  background-color: grey;	
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.footer__year {
  font-size: 20px;
  color: #000000;	
}

.footer__link {
  margin-left: 30px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: #ffffff;	
  transition: color 0.3s linear;
}

.footer__link:hover {
  color: #000000;
}

.footer__image {
  display: block;
  width: 120px;
  height: auto;
}
/***************************************** footer style end */
